@model MIMWebClient.Models.Admin.Rooms.ViewRooms

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>ViewRooms</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
