<div id="select-char" class="notVisible">
    <div class="row">
        <div class="col-xs-12">
            <p>Player Name</p>
            <input type="text" id="playerName "name="name" value="" placeholder="PlayerName" />
            <small>Name should sound like a good fantasy name and not from a book or movie.</small>

            <p>Gender</p>
            <input type="radio" name="gender" value="male" checked> Male
            <input type="radio" name="gender" value="female"> Female

            <p>Email</p>
            <input type="text" id="Email " name="name" value="" placeholder="Email" />

            <p>Password</p>
            <input type="password" id="password " name="name" value="" placeholder="Password" />
            <input type="password" id="ConfirmPassword " name="name" value="" placeholder="Confirm Password" />


    </div>
</div>
    <button type="button" class="btn btn-primary pull-right" id="RaceSelectedBtn">Create Characters</button>
    <button type="button" class="btn btn-default pull-right margin-right-10">Prev: Change stats?</button>
</div>