<div id="select-class" class="notVisible select-option">
    <div class="row">
        <div class="col-xs-4">
            <a href="#" title="Select Fighter" class="active text-center Human-js">
                Fighter
            </a>
            <a href="#" title="Select Theif" class="text-center">
                Theif
            </a>
            <a href="#" title="Select Cleric" class="text-center">
                Cleric
            </a>
            <a href="#" title="Select Mage" class="text-center">
                Mage
            </a>
        </div>
        <div class="col-xs-8 infoSection">
            <div class="classInfo selectionInfo">
            </div>
            <img src="" alt="Select Human Race" class="classImg img-responsive" width="500" height="400" />

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-success pull-right" id="selectedClassBtn">Next: Roll your stats</button>
            <button type="button" class="btn btn-default pull-right margin-right-10" id="backToRace">Prev: Change Race?</button>
        </div>
    </div>
</div>