<div id="select-class" class="notVisible">
    <div class="row">
        <div class="col-xs-4">
            <a href="#" title="Select Fighter" class="active text-center Human-js">
                Fighter
            </a>
            <a href="#" title="Select Theif" class="text-center">
                Theif
            </a>
            <a href="#" title="Select Cleric" class="text-center">
                Cleric
            </a>
            <a href="#" title="Select Mage" class="text-center">
                Mage
            </a>
        </div>
        <div class="col-xs-8 infoSection">
            <div class="classInfo">
            </div>
            <img  src="" alt="Select Human Race" class="classImg img-responsive invisible" width="500" height="400" />

        </div>
    </div>

    <button type="button" class="btn btn-primary pull-right">Next: Roll your stats</button>
    <button type="button" class="btn btn-default pull-right margin-right-10">Prev: Change Race?</button>
</div>