<div id="select-race" class="select-option">
    <div class="row">
        <div class="col-xs-4">
            <a href="#" title="Select Human" class="active text-center Human-js">
                Human
            </a>
            <a href="#" title="Select Elf" class="text-center">
                Elf
            </a>
            <a href="#" title="Select Dark Elf" class="text-center">
                Dark Elf
            </a>
            <a href="#" title="Select Dwarf" class="text-center">
                Dwarf
            </a>
        </div>
        <div class="col-xs-8 infoSection">
            <div class="raceInfo selectionInfo">
            </div>
            <img src="" alt="Select Human Race" class="raceImg img-responsive" width="500" height="400"/>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-success pull-right" id="RaceSelectedBtn">Next: Select your class</button>
            <button type="button" class="btn btn-default pull-right margin-right-10">Have an account? Log in now</button>
        </div>
    </div>
</div>

