<div id="select-stats" class="notVisible">
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <ul class="list-unstyled">
                <li>    Strength: <span id="statStr"></span></li>
                <li>   Dexterity: <span id="statDex"></span></li>
                <li>Constitution: <span id="statCon"></span></li>
                <li> Inteligence: <span id="statInt"></span></li>
                <li>      Wisdom: <span id="statWis"></span></li>
                <li>    Charisma: <span id="statCha"></span></li>
            </ul>

            <a href="javascript:void();" id="reRollStats" class="btn btn-primary form-control">Reroll</a>
        </div>
        <div class="col-xs-12 col-sm-9 infoSection">
            <div class="statInfo">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vestibulum euismod leo a finibus. Nullam dictum eros ut nunc fringilla, ac bibendum ante feugiat.</p>
                <p>Vestibulum dui nulla, venenatis at lacus non, convallis pulvinar ligula. Mauris venenatis nisl augue, id pretium urna placerat sed.</p>
                <p> Donec eros dolor, auctor ornare magna nec, elementum posuere felis</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-success pull-right" id="selectedStatsBtn">Next: Character Info</button>
            <button type="button" class="btn btn-default pull-right margin-right-10" id="backToClass">Prev: Change Class?</button>
        </div>
    </div>
</div>