<div id="select-stats" class="notVisible">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
                <li>    Strength: <span id="statStr"></span></li>
                <li>   Dexterity: <span id="statDex"></span></li>
                <li>Constitution: <span id="statCon"></span></li>
                <li> Inteligence: <span id="statInt"></span></li>
                <li>      Wisdom: <span id="statWis"></span></li>
                <li>    Charisma: <span id="statCha"></span></li>
            </ul>

            <a href="javascript:void();" id="reRollStats" class="btn btn-primary form-control">Reroll</a>
        </div>
        <div class="col-xs-12 col-sm-8 infoSection">
            <div class="statInfo window">
                <p>
                    <b>Strength:</b><br />
                    Strength determines how hard you can hit and how much weight you can carry. Strength is an important attribute for warriors as many of their skills depend on it.

                </p>
                <p>
                    <b>Dexterity:</b><br />
                    Dexterity helps you to dodge attacks and improves your hand eye coordination. This is important for rogues that benefit from being quick and agile.

                </p>
                <p>
                    <b>Constitution:</b><br />
                    Constitution governs your health and endurance. It's an important attribute for all classes as it determines how much hit points (HP) you will gain per level.
                </p>
                <p>
                    <b>Intelligence:</b><br />
                    Intelligence is the main attribute for a mage and determines how quickly one will learn a skill or spell. It also plays a role in mana gain per level. 
                </p>
                <p>
                    <b>Wisdom:</b><br />
                   Wisdom controls your success at spellcasting and your chance to resist Spells. 
                </p>
                <p>
                    <b>Charisma:</b><br />
                   A high Charisma will mean more people will like you and will grant you lower prices in shops.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-success pull-right" id="selectedStatsBtn">Next: Character Info</button>
            <button type="button" class="btn btn-default pull-right margin-right-10" id="backToClass">Prev: Change Class?</button>
        </div>
    </div>
</div>