.notVisible {
  display: none; }

.margin-right-10 {
  margin-right: 10px; }

body {
  background: #272624;
  color: #f1f1f1;
  font-size: 10px;
  font-family: "Slabo 27px", serif !important; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-size: 16px;
  font-family: "Slabo 27px", serif !important; }

#discussion {
  font-size: 10px !important; }

pre {
  background: #272624;
  color: #f1f1f1;
  border: 0 none;
  padding: 10px;
  font-size: 10px !important; }

.modal-content {
  background: #272624;
  border: 4px solid #525045;
  box-shadow: inset 0px 0px 15px 2px #000000,0px 0px 15px 8px #000; }

.modal-header {
  background: transparent;
  border: 0 none;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding-bottom: 0; }
  .modal-header .active {
    color: #fed967;
    text-shadow: -1px 0 0 #a05408; }

.select-option a {
  padding: 10px 0;
  display: block;
  border: 1px solid #525045;
  margin-bottom: 10px;
  color: #fed967;
  box-shadow: inset 0px 0px 15px 2px #000000; }

.select-option a:hover {
  background: #3a2d1f; }

.select-option .active {
  border-color: #df770f;
  box-shadow: inset 0px 0px 15px 2px #a05408;
  text-shadow: -2px -2px 0 #000; }

.infoSection {
  position: relative;
  margin-bottom: 20px; }

.selectionInfo {
  position: absolute;
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
  bottom: 0px;
  padding: 20px;
  margin: 0px 15px 0px 0px; }

#select-stats li {
  text-align: right; }
  #select-stats li span {
    display: inline-block;
    background: #111;
    padding: 5px;
    border: 1px solid #000;
    margin-left: 10px;
    width: 34px;
    text-align: center;
    margin-bottom: 10px; }

.modal-dialog {
  width: 100%; }

.container-fluid {
  width: 100%;
  padding: 0 15px; }

.full-height {
  height: 100%;
  max-height: 100%; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px; }

#score ul li {
  white-space: pre; }

.stat {
  height: 20px;
  border: 1px solid #000;
  border-radius: 3px;
  margin-bottom: 5px; }
  .stat .tnl {
    height: 15px; }

.window {
  padding: 15px;
  border: 4px solid #525045;
  box-shadow: inset 0 0 15px 2px #000;
  font-size: 10px !important; }

.form-control {
  margin-bottom: 10px; }

