@model MIMWebClient.Models.CreatePlayer
@{
    ViewBag.Title = "Chat";
}
<div class="container-fluid  full-height" style="margin-top: -73px;">
    <div class="row full-height">
        <div class="col-xs-3 full-height" style="display: table;">

            <div id="info-char" class="full-height" style="display: table;width: 100%;height: 50%;">
                <div id="score" style="display: table-cell; border: 1px solid #fff; width: 100%;">
                    <h3 class="text-center">Malleus</h3>
                    <div class="js-score" style="overflow-y: scroll;max-height: 40vh;">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-6">
                                    <table>
                                        <tr>
                                            <td>Level</td>
                                            <td>: 1</td>
                                        </tr>
                                        <tr>
                                            <td>Race</td>
                                            <td>: Human</td>
                                        </tr>
                                        <tr>
                                            <td>Class</td>
                                            <td>: Warrior</td>
                                        </tr>
                                        <tr>
                                            <td>Reclass</td>
                                            <td>: Weapon Master</td>
                                        </tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td>: Female</td>
                                        </tr>
                                        <tr>
                                            <td>Alignment</td>
                                            <td>:Lawful Good</td>
                                        </tr>
                                    </table>
                                    

                                </div>
                                <div class="col-xs-6">
                                    <table>
                                        <tr>
                                            <td>Strength</td>
                                            <td>: [100/100]</td>
                                        </tr>
                                        <tr>
                                            <td>Dexterity</td>
                                            <td>: [100/100]</td>
                                        </tr>
                                        <tr>
                                            <td>Constitution</td>
                                            <td>: [100/100]</td>
                                        </tr>
                                        <tr>
                                            <td>Intelligence</td>
                                            <td>: [100/100]</td>
                                        </tr>
                                        <tr>
                                            <td>Wisdom</td>
                                            <td>: [100/100]</td>
                                        </tr>
                                        <tr>
                                            <td>Charisma</td>
                                            <td>: [100/100]</td>
                                        </tr>
                                    </table>

                                    
                                </div>                            
                            </div>
                        </div>

                        <div class="container" style="margin-top:20px">
                            <div class="row">
                                <div class="col-xs-6">
                                    <table>
                                        <tr>
                                            <td>HP</td>
                                            <td>: [9999/9999]</td>
                                        </tr>
                                        <tr>
                                            <td>Mana</td>
                                            <td>: [9999/9999]</td>
                                        </tr>
                                        <tr>
                                            <td>Fatigue</td>
                                            <td>: [9999/9999]</td>
                                        </tr>
                                        <tr>
                                            <td>Hit Roll</td>
                                            <td>: 122</td>
                                        </tr>
                                        <tr>
                                            <td>Dam Roll</td>
                                            <td>: 100</td>
                                        </tr>
                                        <tr>
                                            <td>Wimpy</td>
                                            <td>: 300</td>
                                        </tr>
                                    </table>


                                </div>
                                <div class="col-xs-6">
                                    <table>
                                        <tr>
                                            <td>Weight</td>
                                            <td>: 0 of 1000</td>
                                        </tr>
                                       
                                        <tr>
                                            <td>Status</td>
                                            <td>: Fighting</td>
                                        </tr>
                                        <tr>
                                            <td>Age</td>
                                            <td>: 19</td>
                                        </tr>
                                        <tr>
                                            <td>Hours</td>
                                            <td>: 100</td>
                                        </tr>
                                        <tr>
                                            <td>Quest Points</td>
                                            <td>: 10000</td>
                                        </tr>
                                        <tr>
                                            <td>Experience</td>
                                            <td>: 10000000</td>
                                        </tr>
                                    </table>


                                </div>
                            </div>
                        </div>

                        <div class="container" style="margin-top:20px">
                            <div class="row">
                                <div class="col-xs-6">
                                    <table>
                                        <tr>
                                            <td>Copper</td>
                                            <td>: 1000</td>
                                        </tr>
                                        <tr>
                                            <td>Silver</td>
                                            <td>: 1000</td>
                                        </tr>
                                        <tr>
                                            <td>Gold</td>
                                            <td>: 1000</td>
                                        </tr>
                                        <tr>
                                            <td>Platinum</td>
                                            <td>: 1000</td>
                                        </tr>
                                        
                                    </table>


                                </div>
                                <div class="col-xs-6">
                                   
                                    <table>
                                        <tr>
                                            <td>Armour</td>
                                            <td>:150</td>
                                        </tr>

                                        <tr>
                                            <td>Pierce</td>
                                            <td>:150</td>
                                        </tr>

                                        <tr>
                                            <td>Slash</td>
                                            <td>:150</td>
                                        </tr>
                                        <tr>
                                            <td>Bash</td>
                                            <td>:150</td>
                                        </tr>
                                        <tr>
                                            <td>Magic</td>
                                            <td>:10</td>
                                        </tr>
                                         
                                    </table>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="info-inv" class="full-height" style="display: table;width: 100%;height: 50%;">
                <div style="display: table-cell; border: 1px solid #fff; width: 100%;">
                    <h3>Inventory</h3>
                </div>
                
            </div>
        </div>
        <div class="col-xs-6 full-height" style="display: table;">
            
            <div id="discussion" class="full-height" style="display: table-cell; border: 1px solid #fff" ></div>
        </div>
        <div class="col-xs-3 full-height" style="display: table;">

            <div id="info-room" class="full-height" style="display: table; width: 100%;height: 50%;">

                <div style="display: table-cell; border: 1px solid #fff; width: 100%;">
                    <h3>Room Info</h3>
                </div>
                
            </div>

            <div id="info-quest"  class="full-height" style="display: table;width: 100%;height: 50%;">
                <div style="display: table-cell; border: 1px solid #fff; width: 100%;">
                    <h3>Quests</h3>
                </div>
            </div>
        </div>
    </div>

    
            



    <div class="modal" tabindex="-1" role="dialog" data-show="true" style="display:block;" id="signUpModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-3 active raceBreadCrumb"><span class="hidden-xs">Choose</span> Race</div>
                        <div class="col-xs-3 classBreadCrumb"><span class="hidden-xs">Choose</span> Class</div>
                        <div class="col-xs-3 statsBreadCrumb"><span class="hidden-xs">Roll</span> Stats</div>
                        <div class="col-xs-3 infoBreadCrumb"><span class="hidden-xs">Character</span> Info</div>
                    </div>
                </div>
                <div class="modal-body">

                    @{ Html.RenderPartial("~/Views/Home/Partial/Account/Login.cshtml"); }

                    @{ Html.RenderPartial("~/Views/Home/Partial/CharacterCreation/RaceSelection.cshtml"); }

                    @{ Html.RenderPartial("~/Views/Home/Partial/CharacterCreation/ClassSelection.cshtml"); }

                    @{ Html.RenderPartial("~/Views/Home/Partial/CharacterCreation/StatSelection.cshtml"); }

                    @{ Html.RenderPartial("~/Views/Home/Partial/CharacterCreation/CharSelection.cshtml"); }

                    <!-- TODO: Stat Partial & Char info partial -->

                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<div class="container-fluid" style="position: absolute; bottom: 0; width:100%">
    <div class="row">
        <div class="col-xs-8">
            <input type="text" id="message" class="" style="width: 100%" />
        </div>
        <div class="col-xs-4">
            <input type="button" id="sendmessage" value="Send" class="" />
        </div>

    </div>
</div>

    @section scripts {
        <!--Script references. -->
        <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
        <!--Reference the SignalR library. -->
        <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
        <!--Reference the autogenerated SignalR hub script. -->
        <script src="~/signalr/hubs"></script>
        <!--SignalR script to update the chat page and send messages.-->
        <script src="~/UI/JS/MIM.js"></script>
    }
