@model MIMWebClient.Models.CreatePlayer
@{
    ViewBag.Title = "Dev Server AQ";
}
<div class="container-fluid  full-height" style="margin-top: -73px;">

    <a id="open-left-panel" href="javascript:void(0);" class="full-height visible-xs" style="position: absolute; top: -120px; left: 0; width: 22%; z-index: 900"></a>

    <div class="row full-height">
        <div id="left-panel" class="col-xs-12 col-sm-3  hidden-xs full-height" style="display: table;">

            <div id="info-char" class="full-height" style="display: table; width: 100%; height: 50%;">
                <div id="score" style="display: table-cell; width: 100%;" class="window">

                    <div class="js-score" style="overflow-y: scroll; max-height: 40vh;">
                        <h3 id="player-name" class="text-center">Malleus - </h3>

                        <p class="text-center"><span id="player-gender"></span> <span id="player-race"></span> <span id="player-class"></span> Level <span id="player-level"></span></p>
                        <p class="text-center">HP <span id="player-hp"></span>/<span id="player-max-hp"></span> Mana <span id="player-mana"></span>/<span id="player-max-mana"></span> Fatigue <span id="player-end"></span>/<span id="player-max-end"></span> </p>

                        <div class="scoreContainer">
                            <h3 class="text-center">Attributes</h3>

                            <table width="100%">
                                <tr>
                                    <td>Strength</td>
                                    <td> <span class="pull-right"> <span id="player-str"></span> / <span id="player-max-str"></span> </span> </td>
                                </tr>
                                <tr>
                                    <td>Dexterity</td>
                                    <td> <span class="pull-right"><span id="player-dex"></span> / <span id="player-max-dex"></span></span></td>
                                </tr>
                                <tr>
                                    <td>Constitution</td>
                                    <td> <span class="pull-right"> <span id="player-con"></span> / <span id="player-max-con"></span></span></td>
                                </tr>
                                <tr>
                                    <td>Intelligence</td>
                                    <td> <span class="pull-right"><span id="player-int"></span> / <span id="player-max-int"></span></span></td>
                                </tr>
                                <tr>
                                    <td>Wisdom</td>
                                    <td><span class="pull-right"><span id="player-wis"></span> / <span id="player-max-wis"></span></span></td>
                                </tr>
                                <tr>
                                    <td>Charisma</td>
                                    <td> <span class="pull-right"><span id="player-cha"></span> / <span id="player-max-cha"></span></span></td>
                                </tr>
                            </table>
                        </div>

                        <div class="scoreContainer">
                            <h3 class="text-center">Armour</h3>

                            <table width="100%">
                                <tr>
                                    <td>Armour</td>
                                    <td><span class="pull-right"><span id="player-armorDef"></span></span></td>
                                </tr>

                                <tr>
                                    <td>Magic</td>
                                    <td><span class="pull-right"><span id="player-magicDef"></span></span></td>
                                </tr>

                            </table>
                        </div>

                        <div class="scoreContainer">
                            <h3 class="text-center">Offence</h3>

                            <table width="100%">
                                <tr>
                                    <td>Hit Roll</td>
                                    <td> <span class="pull-right"> <span id="player-hitroll"></span> </span> </td>
                                </tr>
                                <tr>
                                    <td>Dam Roll</td>
                                    <td> <span class="pull-right"><span id="player-damroll"></span></span></td>
                                </tr>
                                <tr>
                                    <td>Wimpy</td>
                                    <td> <span class="pull-right"> <span id="player-wimpy"></span></span></td>
                                </tr>

                            </table>
                        </div>

                        <div class="scoreContainer">
                            <h3 class="text-center">Misc</h3>

                            <table width="100%">
                                <tr>
                                    <td>Aignment</td>
                                    <td><span class="pull-right"><span id="player-alignment"></span></span></td>
                                </tr>

                                <tr>
                                    <td>Experience</td>
                                    <td><span class="pull-right"><span id="player-experience"></span></span></td>
                                </tr>

                                <tr>
                                    <td>Weight</td>
                                    <td><span class="pull-right"><span id="player-weight"></span> of <span id="player-max-weight"></span></span></td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td><span class="pull-right"><span id="player-status"></span></span></td>
                                </tr>


                            </table>
                        </div>

                        <div class="scoreContainer">
                            <h3 class="text-center">Stats</h3>

                            <table width="100%">
                                <tr>
                                    <td>Hours</td>
                                    <td> <span class="pull-right"> <span id="player-hours"></span> </span> </td>
                                </tr>
                                <tr>
                                    <td>Quest Points</td>
                                    <td> <span class="pull-right">N/A</span></td>
                                </tr>


                            </table>
                        </div>

                        <div class="scoreContainer">
                            <h3 class="text-center">Money</h3>

                            <table width="100%">
                                <tr>
                                    <td>Copper</td>
                                    <td><span class="pull-right"><span id="player-copper"></span></span></td>
                                </tr>

                                <tr>
                                    <td>Silver</td>
                                    <td><span class="pull-right"><span id="player-silver"></span></span></td>
                                </tr>


                                <tr>
                                    <td>Gold</td>
                                    <td><span class="pull-right"><span id="player-gold"></span></span></td>
                                </tr>


                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <div id="info-inv" class="full-height" style="display: table; width: 100%; height: 44.3%; margin-top: 10px;">
                <div style="display: table-cell; width: 100%;" class="window">
                    <h3 class="text-center">Inventory</h3>

                    <ul id="invList"></ul>
                </div>

            </div>
        </div>
        <div id="main-panel" class="col-xs-12 col-sm-6 full-height">

            <div id="discussion" class="full-height window" style="overflow-y: scroll; padding: 15px;"></div>
        </div>
        <div id="right-panel" class="col-xs-12 col-sm-3 hidden-xs full-height" style="display: table;">

            <div id="info-room" class="full-height" style="display: table; width: 100%; height: 50%;">


                <div style="display: table-cell; width: 100%;" class="window">

                    <div class="js-room" style="overflow-y: scroll; max-height: 40vh;">
                        <h3>Room Info</h3>

                        <span id="roomTitleInfo"></span>
                    </div>
                </div>

            </div>

            <div id="info-quest" class="full-height" style="display: table; width: 100%; height: 44.3%; margin-top: 10px;">
                <div style="display: table-cell; width: 100%;" class="window showExit">
                    <h3>Exits</h3>

                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 183.5 182" style="enable-background:new 0 0 183.5 182;" xml:space="preserve">
                        <!-- center -->
<rect id="XMLID_1_" x="75.5" y="75.5" style="fill:#5CB85C;stroke:#000000;stroke-miterlimit:10;" width="31" height="31" />

                        <!-- north -->
<line id="XMLID_2_" style="fill:none;stroke:#ccc;stroke-miterlimit:10;" x1="91" y1="75.5" x2="91" y2="31.5" class="northNode" />
<rect id="XMLID_3_" x="76" y="0.5" style="fill:#CCCCCC;stroke:#000000;stroke-miterlimit:10;" width="31" height="31" class="northNode" />

                        <!-- east -->
<line id="XMLID_4_" style="fill:none;stroke:#ccc;stroke-miterlimit:10;" x1="151.5" y1="91" x2="107.5" y2="91" class="eastNode" />
<rect id="XMLID_10_" x="152" y="75.5" style="fill:#CCCCCC;stroke:#000000;stroke-miterlimit:10;" width="31" height="31" class="eastNode" />

                        <!-- south -->
<line id="XMLID_6_" style="fill:none;stroke:#ccc;stroke-miterlimit:10;" x1="92" y1="150.5" x2="92" y2="106.5" class="southNode" />
<rect id="XMLID_9_" x="76.5" y="150.5" style="fill:#CCCCCC;stroke:#000000;stroke-miterlimit:10;" width="31" height="31" class="southNode" />

                        <!-- west -->
<line id="XMLID_5_" style="fill:none;stroke:#ccc;stroke-miterlimit:10;" x1="75.5" y1="91" x2="31.5" y2="91" class="westNode" />
<rect id="XMLID_11_" x="0.5" y="76" style="fill:#CCCCCC;stroke:#000000;stroke-miterlimit:10;" width="31" height="31" class="westNode" />

                        <!-- ne -->
<rect id="XMLID_12_" x="152" y="0.5" style="fill:#CCCCCC;stroke:#000000;stroke-miterlimit:10;" width="31" height="31" class="neNode" />
<line id="XMLID_13_" style="fill:none;stroke:#ccc;stroke-miterlimit:10;" x1="151.824" y1="31.195" x2="106.388" y2="76.229" class="neNode" />

                        <!-- sw -->
<line id="XMLID_14_" style="fill:none;stroke:#ccc;stroke-miterlimit:10;" x1="75.863" y1="106.235" x2="30.349" y2="151.189" class="swNode" />
<rect id="XMLID_15_" x="0.5" y="150.5" style="fill:#CCCCCC;stroke:#000000;stroke-miterlimit:10;" width="31" height="31" class="swNode" />

                        <!-- se -->
<rect id="XMLID_16_" x="152" y="150.5" style="fill:#CCCCCC;stroke:#000000;stroke-miterlimit:10;" width="31" height="31" class="seNode" />
 <line id="XMLID_21_" style="fill:none;stroke:#ccc;stroke-miterlimit:10;" x1="152.061" y1="150.988" x2="106.151" y2="106.437" class="seNode" />

                        <!-- nw -->
<rect id="XMLID_17_" x="0.5" y="0.5" style="fill:#CCCCCC;stroke:#000000;stroke-miterlimit:10;" width="31" height="31" class="nwNode" />
                    <polyline id="XMLID_22_" style="fill:none;stroke:#ccc;stroke-miterlimit:10;" points="76.114,75.575 75.065,74.534
	31.25,31.063 " class="nwNode" />

<text id="XMLID_23_" transform="matrix(1 0 0 1 87.6665 19.4998)" style="font-family:'Consolas', monospace; font-size:12px;" class="northNode">N</text>
<text id="XMLID_25_" transform="matrix(1 0 0 1 8.6649 19.4998)" style="font-family:'Consolas', monospace; font-size:12px;" class="nwNode">NW</text>
<text id="XMLID_28_" transform="matrix(1 0 0 1 160.9998 19.4998)" style="font-family:'Consolas', monospace; font-size:12px;" class="neNode">NE</text>
<text id="XMLID_36_" transform="matrix(1 0 0 1 11.7498 95.2498)" style="font-family:'Consolas', monospace; font-size:12px;" class="westNode">W</text>
<text id="XMLID_39_" transform="matrix(1 0 0 1 164.3748 95.4998)" style="font-family:'Consolas', monospace; font-size:12px;" class="eastNode">E</text>
<text id="XMLID_40_" transform="matrix(1 0 0 1 7.9998 169.9996)" style="font-family:'Consolas', monospace; font-size:12px;" class="swNode">SW</text>
<text id="XMLID_43_" transform="matrix(1 0 0 1 89.1248 169.9995)" style="font-family:'Consolas', monospace; font-size:12px;" class="southNode">S</text>
<text id="XMLID_44_" transform="matrix(1 0 0 1 160.9996 170.4996)" style="font-family:'Consolas', monospace; font-size:12px;" class="seNode">SE</text>
</svg>

                </div>
            </div>
        </div>
    </div>


    <a id="open-right-panel" href="javascript:void(0);" class="full-height visible-xs" style="position: absolute; top: -120px; right: 0; width: 22%; z-index: 900"></a>




    <div class="modal" tabindex="-1" role="dialog" data-show="true" style="display: block;" id="signUpModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-3 active raceBreadCrumb">
                            <span class="hidden-xs">Choose</span> Race
                        </div>
                        <div class="col-xs-3 classBreadCrumb">
                            <span class="hidden-xs">Choose</span> Class
                        </div>
                        <div class="col-xs-3 statsBreadCrumb">
                            <span class="hidden-xs">Roll</span> Stats
                        </div>
                        <div class="col-xs-3 infoBreadCrumb">
                            <span class="hidden-xs">Character</span> Info
                        </div>
                    </div>
                </div>
                <div class="modal-body">


                    @{ Html.RenderPartial("~/Views/Home/Partial/Account/Login.cshtml"); }

                    @{ Html.RenderPartial("~/Views/Home/Partial/CharacterCreation/RaceSelection.cshtml"); }

                    @{ Html.RenderPartial("~/Views/Home/Partial/CharacterCreation/ClassSelection.cshtml"); }

                    @{ Html.RenderPartial("~/Views/Home/Partial/CharacterCreation/StatSelection.cshtml"); }

                    @{ Html.RenderPartial("~/Views/Home/Partial/CharacterCreation/CharSelection.cshtml"); }

                    <!-- TODO: Stat Partial & Char info partial -->

                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<div class="container-fluid" style="position: absolute; bottom: 0; width: 100%">
    <div class="row">
        <div class="col-xs-3">
            <div class="progress">
                <div id="HP-bar" class="progress-bar progress-bar-danger" role="progressbar" style="width:0%">
                    <div class="statInfo">
                        <span id="stat-HP"></span>/<span id="stat-max-HP"></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-3">
            <div class="progress">
                <div id="mana-bar" class="progress-bar progress-bar-info" role="progressbar" style="width:0%">
                    <div class="statInfo">
                        <span id="stat-mana"></span>/<span id="stat-max-mana"></span>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-xs-3">
            <div class="progress">
                <div class="statInfo">
                    <span id="stat-endurance"></span>/<span id="stat-max-endurance"></span>
                </div>
                <div id="end-bar" class="progress-bar progress-bar-success" role="progressbar" style="width:0%">

                </div>

            </div>
        </div>

        <div class="col-xs-3">
            <div class="progress">
                <div class="statInfo">
                    <span id="stat-tnl"></span> tnl
                </div>
                <div id="tnl-bar" class="progress-bar progress-bar-warning" role="progressbar" style="width:0%">


                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12" style="position: relative;">
            <form onSubmit="return false;">
                <input type="text" id="message" class="form-control" placeholder="Type here..." autofocus style="background: #101010; color: #f1f1f1; margin-bottom: 15px;" />
                <button type="submit" id="sendmessage" style="position: absolute; right: 25px; top: 5px; background: #fed967; border: 1px solid #ff8c00">send</button>
            </form>
        </div>


    </div>
</div>

@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script src="~/UI/JS/MIM.js"></script>
}
