@import "../Lib/_bootstrap.scss";
@import "slick-theme.scss";
@import "slick.scss";
.notVisible {
    display: none;
}


.margin-right-10 {
    margin-right: 10px;
}

body {
    background: #272624;
    color: #f1f1f1;
    font-family: Verdana,Geneva,sans-serif !important;
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-size: 16px;
    font-family: Verdana,Geneva,sans-serif !important;
}

#discussion {
    position: relative;
    font-size: 12px;


    tr td {
        padding: 5px;
    }

    tr:nth-child(even) {
        background: #444;
    }

    @media screen and (min-width: 768px) {
        font-size: 13px;
    }

    @media screen and (min-width: 992px) {
        font-size: 13px;
    }


    @media screen and (min-width: 1200px) {
        font-size: 13px;
    }

    p {
        max-width: 560px;
    }

    p:empty {
        display: none;
    }

    .roomTitle {
        color: #2ecc71;
        border-bottom: 1px dashed #555;
        padding-bottom: 5px;
    }

    .sayColor {
        color: #00ffff;
    }

    .questColor {
        color: #f6d437;
    }

    .RoomExits {
        color: #2ecc71;
    }

    .roomItems {
        margin: 0;
    }

    .roomItems:first-letter {
        text-transform: uppercase;
    }

    .multipleChoice {
        margin: 0;
        padding: 0;
        color: #F7CA18;
        cursor: pointer;
    }

    table {
        width: 100%;
    }

    thead {
        border-bottom: 1px dashed #fff;

        td {
            padding: 5px;
        }
    }
}

pre {
    background: #272624;
    color: #f1f1f1;
    border: 0 none;
    padding: 10px;
    font-size: 10px !important;
}

.modal-content {
    background: #272624;
    border: 4px solid #525045;
    box-shadow: inset 0px 0px 15px 2px #000000,0px 0px 15px 8px #000;
        max-height: 90vh;
 
}

.modal-body {
        overflow-y: scroll;
    max-height: 73vh;
        /* Medium devices (desktops, 992px and up) */
        @media (min-width:992px) { 
            overflow:initial;
        }
}

.modal-header {
    background: transparent;
    border: 0 none;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding-bottom: 0;

    .active {
        color: #fed967;
        text-shadow: -1px 0 0 #a05408;
    }
}

.select-option a {
    padding: 10px 0;
    display: block;
    border: 1px solid #525045;
    margin-bottom: 10px;
    color: #fed967;
    box-shadow: inset 0px 0px 15px 2px #000000;
}

.select-option a:hover {
    background: #3a2d1f;
}

.select-option .active {
    border-color: #df770f;
    box-shadow: inset 0px 0px 15px 2px #a05408;
    text-shadow: -2px -2px 0 #000;
}

.infoSection {
    position: relative;
    margin-bottom: 20px;
}

.selectionInfo {
    position: absolute;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
    bottom: 0px;
    padding: 20px;
    margin: 0px 15px 0px 0px;
}

#select-stats li {
    // width:100px;
    text-align: right;

    span {
        display: inline-block;
        background: #111;
        padding: 5px;
        border: 1px solid #000;
        margin-left: 10px;
        width: 34px;
        text-align: center;
        margin-bottom: 10px;
    }
}

.modal {
    background: rgba(000,000,000,0.7);
}

/*.modal-dialog {
    width: 100%;
}*/

.container-fluid {
    width: 100%;
    padding: 0 15px;
}


.full-height {
    height: 100%;
    max-height: 100%;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
}

#score ul li {
    white-space: pre;
}

.stat {
    height: 20px;
    border: 1px solid #000;
    border-radius: 3px;
    margin-bottom: 5px;

    .tnl {
        height: 15px;
    }
}

.window {
    padding: 15px;
    border: 4px solid #525045;
    box-shadow: inset 0 0 15px 2px #000;
    font-size: 12px;

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }

    @media screen and (min-width: 992px) {
        font-size: 14px;
    }


    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }
}

.window-inner {
    padding: 15px;
    border: 2px solid #525045;
    box-shadow: inset 0 0 15px 2px #000;
    font-size: 14px !important;
}

#score {

    .window-inner {
        min-height: 193px;
        margin-bottom: 10px;
    }

    .js-score {
        position: relative;
    }

    h3 {
        border-bottom: 2px solid #525045;
        padding: 10px 0;
    }
}

.js-room {
    position: relative;
}

.errorMsg {
    color: #F04903;
}

.error span {
    display: none;
}

.error span.errorMsg {
    display: inline-block;
    color: #F04903;
}
//Builder

.form-control {
    margin-bottom: 10px;
}

#CreateCharName {
    position: relative;

    .js-generateName {
        position: absolute;
        top: 25px;
        right: 0;
    }
}

.showExit {
    position: relative;
    background-size: contain;

    svg {
        height: 210px;
        margin: 0 auto;
        width: 100%;
    }
}


@import "perfect-scrollbar.scss";


.progress {
    background: #ccc !important;
    text-align: center;
    color: #111 !important;
    margin-bottom: 5px;

    span, div {
        color: #111 !important;
    }

    div.statInfo {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;
    }
}

.xp-progress {
    background: #ccc;
}

.progress-bar-warning {
    background-color: #BA68C8;
}


.northNode, .nwNode, .neNode, .westNode, .eastNode, .swNode, .southNode, .seNode {
    display: none;
}

#sendmessage {
    color:#000;
}

.roomMob {
    color: magenta;
}

li.Active:before, li.Shop:before, li.Guild:before, li.Room:before, li.Stairs:before {
    display: inline-block;
    background: #2ECC71;
    width: 10px;
    height: 11px;
    content: "";
    border-radius: 50px;
    margin-right: 10px;
}

li.Shop:before {
    background: #446CB3;
}

li.Guild:before {
    background: #fed967;
}

li.Room:before {
    background: #ccc;

}

li.Stairs:before {
    background: #674172;
}

.description-header {
    display:block!important;
}


.activeUiLink {
    color: #f6d437!important;
}

.infoFilter, .infoPlayerFilter, .channelFilter {
    position:relative;
    z-index:999;
}

@media all and (min-width:768px) {
.modal-dialog {
    width: 700px;
}
}

.quick-buttons {
    top: -10px;
    margin: 10px 29px;
}

.quick-buttons a {
    display: inline-block;
    border: 1px solid #525045;
    margin-bottom: 10px;
    color: #fed967;
    box-shadow: inset 0 0 15px 2px #000;
    padding: 10px 20px;
    min-width: 100px;
    text-align: center;
    margin: 0 8px;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #fed967;
}
.tooltip-inner {
    color: #111;
    background-color: #fed967;
    border-radius: 0;
    font-size: 16px;
}
 #music:hover {
     cursor: pointer;
 }