.notVisible {
    display: none;
}

.margin-right-10 {
    margin-right: 10px;
}

body {
    background: #272624;
    color: #f1f1f1;
    font-size:14px;
    font-family: 'Slabo 27px', serif!important;
}


h1, h2, h3, h4, h5, h6 {margin-top:0; font-size:16px;  font-family: 'Slabo 27px', serif!important;}

pre {
    background: #272624;
    color: #f1f1f1;
    border: 0 none;
    padding: 10px;
}

.modal-content {
    background: #272624;
    border: 4px solid #525045;
    box-shadow: inset 0px 0px 15px 2px #000000,0px 0px 15px 8px #000;
}

.modal-header {
    background: transparent;
    border: 0 none;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding-bottom: 0;

         .active {
            color: #fed967;
            text-shadow: -1px 0 0 #a05408;
        }
 }

.select-option a {
    padding: 10px 0;
    display: block;
    border: 1px solid #525045;
    margin-bottom: 10px;
    color: #fed967;
    box-shadow: inset 0px 0px 15px 2px #000000;
}

.select-option  a:hover {
    background: #3a2d1f;
}

.select-option .active {
    border-color: #df770f;
    box-shadow: inset 0px 0px 15px 2px #a05408;
    text-shadow: -2px -2px 0 #000;
}

.infoSection {
    position: relative;
    margin-bottom:20px;
}

.selectionInfo {
    position: absolute;
background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
bottom: 0px;
padding: 20px;
margin: 0px 15px 0px 0px;
}

#select-stats li {
   // width:100px;
    text-align:right;

    span {
display: inline-block;
background: #111;
padding: 5px;
border: 1px solid #000;
margin-left: 10px;
width: 34px;
text-align: center;
margin-bottom: 10px;
    }
}

.modal-dialog {
    width: 100%;
}
