@model List<MIMWebClient.Core.Room.Room>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<div>
    <h1>Rooms</h1>
    <a href="Create.cshtml">Create a new room</a>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <h2>Region</h2>

                @{
                    foreach (var room in Model)
                    {
                        <a href="/Room/Details/@room.region">
                            Edit
                        </a>
                        <p>@room.region</p>

                        //find all rooms in region
                    }
                }

            </div>
            <div class="col-xs-6">
                <h2>Area</h2>
                @{
                    foreach (var room in Model)
                    {
                        <a href="/Room/Details/@room.region/@room.area/@room.areaId">
                            Edit
                        </a>
                        <p>@room.area - @room.title</p>


                    }
                }

            </div>
        </div>
    </div>
 
  
</div>
 