.notVisible {
  display: none; }

.margin-right-10 {
  margin-right: 10px; }

body {
  background: #272624;
  color: #f1f1f1; }

pre {
  background: #272624;
  color: #f1f1f1;
  border: 0 none;
  padding: 10px; }

.modal-content {
  background: #272624;
  border: 4px solid #525045;
  box-shadow: inset 0px 0px 15px 2px #000000,0px 0px 15px 8px #000; }

.modal-header {
  background: transparent;
  border: 0 none;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding-bottom: 0; }

.modal-header .active {
  color: #fed967;
  text-shadow: -1px 0 0 #a05408; }

#select-race a {
  padding: 10px 0;
  display: block;
  border: 1px solid #525045;
  margin-bottom: 10px;
  margin: 0 -25px 10px -13px;
  color: #fed967;
  box-shadow: inset 0px 0px 15px 2px #000000; }

#select-race a:hover {
  background: #3a2d1f; }

#select-race .active {
  border-color: #df770f;
  box-shadow: inset 0px 0px 15px 2px #a05408;
  text-shadow: -2px -2px 0 #000; }

.infoSection {
  position: relative; }

#raceInfo {
  margin: 0 14px 0 0;
  position: absolute;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
  padding: 0px 15px 10px; }

.modal-dialog {
  width: 40%; }

